*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.section-sixty {
    width: 100%;
    height: 100vh;
}

.main-dasborad-site {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.dash-site-list-1 {
    width: 20%;
    background-image: url(../images/section-11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 30px 50px;
}

.logo-section-25 {
}

.dash-site-list-2 {
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/secsex.png);
    height: 100%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-box-card {
    padding: 66px 40px;
    border-radius: 60px;
    border: 1px solid #000;
    background: #FFF;
    width: 75%;
}

.Cost-btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-aling {
    justify-content: flex-end !important;
}
.Cost-btn-box button {
    border-radius: 50px;
    background: linear-gradient(0deg, #0CBF65 0%, #0CBF65 100%), #1226AA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
  font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 112.5% */
    text-transform: capitalize;
    padding: 20px 50px;
}

.Cost-list-box {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 30px;
}

.Cost-list-box span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(153, 153, 153, 0.91);
}

.Cost-list-box span h2 {
    color: #1226AA;
  font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 190% */
}

.cost-btn-listing {
    width: 100%;
}

.cost-btn-listing button {
    border-radius: 50px;
    background: linear-gradient(0deg, #0CBF65 0%, #0CBF65 100%), #1226AA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 30px;
}

.cost-btn-listing button h2 {
    color: #1226AA;
  font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 118.75% */
}

.site-1-dash-p {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}

.site-1-dash-p h3 {
    color: #0CBF65;
  font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 75% */
    text-transform: capitalize;
}



@media screen and (max-width: 1440px){
    .site-1-dash-p h3 {
        font-size: 35px;
    }
    
    .site-box-card {
        width: 100%;
    }
    
    .Cost-btn-box button {
        font-size: 25px;
        padding: 12px 42px;
    }
    
    .cost-btn-listing button {
        padding: 14px 24px;
    }
    
    .cost-btn-listing button h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1024px){
    .dash-site-list-1 {
        padding: 25px 30px;
        width: 24%;
    }
    
    .dash-site-list-2 {
        width: 76%;
    }
    
    .site-box-card {
        padding: 40px 35px;
    }
    
    .Cost-btn-box button {
        font-size: 20px;
        padding: 10px 34px;
    }
    
    .cost-btn-listing button {
        padding: 12px 20px;
    }
    
    .cost-btn-listing button h2 {
        font-size: 24px;
    }
}


@media screen and (max-width: 768px){
    .site-1-dash-p h3 {
        font-size: 28px;
    }
}


@media screen and (max-width: 600px){
    .site-1-dash-p h3 {
        font-size: 28px;
    }
    
    .main-dasborad-site {
        flex-direction: column;
    }
    
    
    
    section.section-sixty {
        height: 100%;
    }
    
    .site-1-dash-p {
        padding: 40px 0px;
    }
    
    .dash-site-list-2 {
        width: 100%;
        padding: 100px 30px;
    }
    
    .site-box-card {
        padding: 25px 25px;
        border-radius: 15px;
    }
    
    .Cost-btn-box button {
        font-size: 18px;
        padding: 5px 27px;
    }
    
    .Cost-list-box span h2 {
        font-size: 18px;
    }
    
    .cost-btn-listing button h2 {
        font-size: 18px;
    }
    
    .cost-btn-listing button {
        padding: 5px 18px;
    }
    .dash-site-list-1 {
        width: 100%;
    }
}